* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e2dedf;
}




/* nav */

nav {
    background-color: rgb(83, 80, 255);
    z-index: 900;
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(240, 240, 240);
    height: 100px;

}


nav ul {
    display: flex;
    list-style: none;
    width: 10%;
    justify-content: space-between
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding: 10px 10px;

}

nav ul li a:hover {
    border-radius: 0.5rem;
    color: lavenderblush;
    background-color: rgb(238, 62, 62);

}

nav .logo-nav {
    font-family: 'Damion', cursive;
    font-size: 30px;
}


.navbar-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.navbar-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
}

.navbar-toggle input {
    position: absolute;
    width: 40px;
    height: 20px;
    opacity: 0;
    left: -12px;
    top: -5px;
    cursor: pointer;
    z-index: 2;
}


.navbar-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.navbar-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.navbar-toggle input:checked~span:nth-child(2) {
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg) translate(-1px, -1px);
}

.navbar-toggle input:checked~span:nth-child(4) {
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg) translate(-1px, 0);
}

.navbar-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}



/* main */

.main {
    padding-top: 120px;
    text-align: center;
    height: auto;
    margin-bottom: 50px;
}



.input-list input {
    width: 450px;
    height: 41px;
    border-radius: 0.5rem;
    font-size: 15px;
}

.input-list button {
    height: 37px;
    width: 70px;
    color: white;
    background-color: rgb(83, 80, 255);
    cursor: pointer;

}

.input-list button:hover {
    background-color: crimson;
}

/* list Category */
#list-category,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(83, 80, 255);
    font-size: 40px;
}

#list-category ul li {
    list-style: none;
}



.list {
    margin-left: 200px;
    margin-right: 200px;
}

.list ul {
    padding: 5px;
    margin: 7px;
    background-color: rgb(83, 80, 255);
    color: white;
    border-radius: 1rem;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex: auto;
}


.list ul:hover {
    background-color: crimson;
}

.action {
    width: 50%;
    margin-top: 7px;
}

.action span {
    cursor: pointer;
}



/* footer */

footer {
    height: 100px;
    background-color: rgb(83, 80, 255);
    text-align: center;
    color: white;
}

footer .copy-right {
    padding-top: 30px;
}

@media screen and (max-width:576px) {

    /* nav */

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgb(83, 80, 255);
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        transform: translateX(100%);
        transition: all 1s;
    }


    nav ul.slide {
        transform: translateX(0);
    }

    .navbar-toggle {
        display: flex;

    }

    .logo-nav h2 {
        font-size: 20px;
    }



}
